.head{
    width: 30.5rem;
}

.signup-section{
    height: 100%;
    padding-inline: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-page{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
